/* Universal Selector */

* {
  box-sizing: border-box;
}

/* Reusable styles */

:root {
  --primary: #000;
  --secondary: #0095ff;
  --tertiary: rgb(91, 184, 214);
  --white: #fff;
}

/* Styles for Body */

body {
  background: var(--white);
  color: var(--secondary);
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Styles for Header */

header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 85%;
}

#view-high-scores:hover {
  cursor: pointer;
  color: var(--tertiary);
}

header h4 {
  display: inline;
  padding-left: 20px;
  font-size: 30px;
}

.timer {
  display: inline;
  color: var(--primary);
  font-size: 30px;
  text-align: right;
  padding-right: 20px;
}

/* Styles for Main Content */

.container {
  margin: auto;
  flex-direction: column;
  padding: 20px;
  width: 50%;
}

h1 {
  color: var(--primary);
  font-size: 45px;
  font-weight: bold;
}

p {
  color: var(--primary);
  font-size: 30px;
}

.start {
  align-items: center;
  text-align: center;
}

.start h1,
.start p {
  text-align: center;
}

.questions {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px 20px;
  margin: auto;
}

.end h1,
.end p {
  text-align: left;
}

.end input {
  outline: thick;
  border-width: 1px;
  padding: 5px;
  width: 35%;
  font-size: 35px;
  border-radius: 5px;
}

.end input:focus {
  border: 2px solid var(--secondary);
}

.show {
  display: flex;
}

.hide {
  display: none;
}

#question {
    text-align: left;
  color: var(--primary);
  font-size: 45px;
  font-weight: bold;
}

#high-score {
  text-align: left;
}

/* Styles for Button */

.btn {
  background: var(--secondary);
  color: var(--white);
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 3px grey;
  margin-top: 10px;
}

.btn:hover {
    cursor: pointer;
  background: var(--tertiary);
  border-radius: 10px;
  box-shadow: 0 2px grey;
}

.btn:active {
  border: none;
  outline: none;
  box-shadow: 0 0 grey;
}

.btn:focus {
  outline: none;
}

.btn-grid {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-gap: 5px;
  margin: 20px 0;
}

.startend {
  width: 25%;
  margin-top: 10px;
}

.answerbtn {
    text-align: left;
    width: 50%;
    font-size: 3vw;
}

/* Styles for result of Answers (Correct/Wrong) */

.banner {
  text-align: center;
  font-size: 24px;
  color: rgba(199, 187, 187, 0.8);
  font-style: italic;
  margin: 0 100px;
}

.banner h2 {
  text-align: center;
  border-top: 2px solid rgba(199, 187, 187, 0.8);
  margin: 0 auto;
  padding-top: 5px;
}

/* Styles for High Scores List */

ol {
  list-style-type: number;
}

li:nth-child(odd) {
  background-color: rgba(228, 151, 164, 0.5);
}

li {
  font-size: 4vw;
}

/* media query for smaller screens */

@media screen and (max-width: 1024px) {
  .btn {
    width: 100%;
    font-size: 3vw;
  }

  #question {
    font-size: 4.5vw;
  }

  h1 {
    font-size: 4.5vw;
  }

  p {
    font-size: 3vw;
  }
}
