* {
    box-sizing: border-box;
}

:root {
    --dark: #000;
    --light: #fff;
    --primary: #4781c0;
    --secondary: rgb(0, 27, 236);
    --fontOne: 1.5rem;
    --fontTwo: 2rem;
}

body {
    background-color: var(--light);
    color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 85%;
}

header h4 {
    display: inline;
    padding-left: 5px;
    font-size: var(--fontOne);
}

.timer {
    display: inline;
    text-align: right;
    padding-right: 5px;
    font-size: var(--fontOne);
}

#view-highscore:hover {
    cursor: pointer;
    color: var(--secondary);
}

/* / Header */ 

/* Body or Main Content */

.container {
    flex-direction: column;
    margin: auto;
    padding: 20px;
    width: 50%;
}

h1 {
    color: var(--dark);
    font-size: 2.5rem;
    font-weight: bold;
}

p {
    font-size: var(--fontOne);
}

.start {
    align-items: center;
    text-align: center;
}

.start h1, .start p {
    text-align: center;
}

#questions {
    text-align: left;
    font-weight: bold;
    color: var(--primary);
    font-size: var(--fontTwo);
}

.questions {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 10px;
    margin: auto;
}

.end h1, .end p {
    text-align: left;
}

.end input {
    border-radius: 3px;
    border-width: 1px;
    padding: 5px;
    width: 35%;
    font-size: var(--fontTwo);
    outline: thick var(--dark);
}

.show {
    display: flex;
}

.hide {
    display: none;
}

/* /Main Content */


/* Buttons */

.btn {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px grey;
    background: var(--primary);
    color: var(--light);
}

.btn:hover {
    background: var(--secondary);
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 1px grey;
}

.btn:active {
    border: none;
    outline: none;
    box-shadow: 0 0 grey;
}

.btn:focus {
    outline: none;
}

.btn-grid {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-gap: 5px;
    margin: 15px 0;
}

.start-end-game {
    width: 20%;
    margin: 10px 0;
}

.answerbtn {
    width: 50%;
    text-align: left;
    font-size: 3.0vw;
}


/* /Buttons */

/* Styles for Correct/Wrong */

.banner {
    font-size: 25px;
    text-align: center;
    font-style: italic;
    margin: 0 100px;
    color:blanchedalmond;
}

.banner h2 {
   border-top: 2px;
   margin: 0 auto;
   text-align: center;
   padding-top: 5px;
}

/* Highscore List */
ol {
    list-style-type: number;
}

li {
    font-size: 4vw;
}

